<header class="main-header">
    <div class="header-hiding">
        <div class="hiding">
            <p>Centro de ayuda</p>
            <p>Servicio Técnico</p>
            <p>Venta telefónica</p>
            
        </div>
        <div class="social">
            <a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/?hl=es-la/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/?lang=es/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.whatsapp.com/?lang=es/" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
   
    <div class="top-header">
      
        <h2 class="nombre">electromania</h2>
        <div class="logo">
            <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
            
        </div>
        
        <div class="form">
            <form action="/search" method="GET" class="search-form">
                <div class="input"><input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input"></div>
                <div class="buscar"><button type="submit" class="boton"><i class="fas fa-search"></i></button></div>
            </form>
        </div>  

            <div class="hamburger-buttom">
                <i class="fas fa-bars"></i>
            </div>
            
            <div class="sesion">
                <% if (locals.isLogged) { %>
                    <a class="sesiona" href="/usuarios/profile">Hola <%= locals.userLogged.firstName %></a>
                    <a class="sesiona" href="#">|</a>
                    <a class="sesiona" href="/usuarios/logout">Logout</a>
                    <a href="./productos/productCart"><div class="car"><i class="fas fa-cart-arrow-down"></i></div></a>
                 <% } else { %>  
                    <a class="sesiona" href="/usuarios/register">Regístrate</a>
                    <a class="sesiona" href="#">|</a>
                    <a class="sesiona" href="/usuarios/login">Inicia Sesión</a> 
                    <a href="./productos/productCart"><div class="car"><i class="fas fa-cart-arrow-down"></i></div></a>                    
                 <% } %>         
           </div> 
         
    </div>    
    
           
</header>