<div class="divnavbar">
    <nav class="main-navbar">
        <div class="categoriasli"> <a href="#"> Televisores</a> </div>
        <div class="categoriasli"> <a href="#">Audio y Video</a> </div>
        <div class="categoriasli"> <a href="#">Notebook y Tables</a> </div>
        <div class="categoriasli"> <a href="#">Celulares</a> </div>
        <div class="categoriasli"> <a href="#">Electrodomésticos</a> </div>
        <div class="categoriasli"> <a href="#">Otras categorías</a> </div>
    </nav>   
</div> 