<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromania</title>
    <link  rel="icon" type="image/png" href="/images/logo-social.png"  />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d80f5cb230.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="header-hiding">
            <div class="hiding">
                <p>Centro de ayuda</p>
                <p>Servicio Técnico</p>
                <p>Venta telefónica</p>
                
            </div>
            <div class="social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
       
        <div class="top-header">
            <h2 class="nombre">Electromania</h2>
            <div class="logo">
                <img src="/images/logo.png" class="logo">
                
            </div>
            
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="buscar"><input class="boton" type="submit" value="Buscar"></div>
                <!-- <div class="hamburger-buttom">
                    <i class="fas fa-bars"></i>
                </div> -->
            </div>  

                <div class="hamburger-buttom">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="sesion">
                    <a class="sesiona" href="#">Registrate</a>
                    <a class="sesiona" href="#">|</a>
                    <a class="sesiona" href="#">Inicia Sesion</a>
                </div> 
             
        </div>    
        
               
    </header>

    
   
    <div class="divnavbar">
        <nav class="main-navbar">
            <div class="categoriasli"> <a href="#"> Televisores</a> </div>
            <div class="categoriasli"> <a href="#">Audio y Video</a> </div>
            <div class="categoriasli"> <a href="#">Notebook y Tables</a> </div>
            <div class="categoriasli"> <a href="#">Celulares</a> </div>
            <div class="categoriasli"> <a href="#">Electrodomesticos</a> </div>
            <div class="categoriasli"> <a href="#">Otras categorias</a> </div>
        </nav>   
    </div> 
    <main>
    <div class="divbaner"><img class="baner" src="/images/img-home-banner.jpg" alt=""></div>
           
        <section class="ofertas">
            <h2 class="titulo1">Ofertas destacadas</h2>
            <div class="products">
                <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                </article>
             
                <article>
                    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                
                </article>
                <article>
                    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                    
                </article>
                <article>
                    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                    
                </article>
                <article>
                    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                
                </article>
                <article>
                    
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <hr>
                            <p class="descripcion1">Televisor Samsung 32"</p>
                            <p class="descripcion2">30% OFF</p>
                            <h4 class="descripcion3">Ahora 12</h4>
                        </div>    
                    
                </article>
            </div>       
        </section>
    
   
        <div class="divbaner"><img class="baner" src="/images/img-home-banner.jpg" alt=""></div>
    </main>
    <hr>    
    <footer>
        <article>
            <div class="company-description-footer">
                <img class="footer-logo" src="images/google.png" alt="logo-electro-mania" title="Electromania - Home">
                <div class="footer-company-description">
                    <p> Somos la empresas numero 1 en Argentina en la venta y distribucion de productos electronicos. Tecnologia, electrodomesticos y articulos para el hogar. Todo en un solo lugar y con envio gratuito a todo el pais. </p>
                    </div>
                </div>
                <div class="group-social-icons">
                    <div class="social-icons">
                        <div class="circle-social-icons"><i class="fab fa-facebook"></i></div>     
                        <div class="circle-social-icons"><i class="fab fa-instagram"></i></div>
                        <div class="circle-social-icons"><i class="fab fa-linkedin-in"></i></div>
                        <div class="circle-social-icons"><i class="fab fa-youtube"></i></div>
                    </div>
                </div>
            </div>
            <hr>
        </article>
        <article>
            <div class="recommended-list-general">
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Tecnologia</h2>
                    <ul class="reccomended-list">
                        <li>Smart TV</li>
                        <li>Consolas de juego</li>
                        <li>Notebooks</li>
                        <li>Monitores</li>
                        <li>Equipos de audio</li>
                    </ul>
                </div>
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Electrodomesticos</h2>
                    <ul class="reccomended-list">
                        <li>Heladeras</li>
                        <li>Cocinas</li>
                        <li>Lavavajillas</li>
                        <li>Microondas</li>
                        <li>Cafeteras</li>
                        <li>Lavarropas</li>
                    </ul>
                </div>
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Articulos Hogar</h2>
                    <ul class="reccomended-list">
                        <li>Plancha</li>
                        <li>Aspiradoras</li>
                        <li>Maquinas de coser</li>
                        <li>Limpiadores a vapor</li>
                    </ul>
                </div>
            </div>
            <hr>
        </article>
        <article>
            <div class="newsletter-form">
                <h2 class="footer-titles">Recibi ofertas y promociones</h2>
                <form action="" method="">
                    <div>
                        <label for="email">
                            <input class="newsletter-input" type="email" id="email" placeholder="Ingrese su email...">
                        </label>
                        <!-- <div>
                            <button class="newsletter-button-send" type="submit" >Enviar</button>
                        </div> -->
                    </div>
                </form>
            </div>

            <hr>
        </article>
        <article>
            <p class="copyright">Copyright © 2021 Electromania. El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Electromania. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock.
            </p>
        </article>
    </footer>
</body>
</html>