<!DOCTYPE html>
<html lang="utf-8" class="aAX">
    <head>
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/Loginstyles.css">
        <meta name="viewport" contect="width=device-width, initial-scale=1">
    </head>
    <main>
        <section>
            <div class="Iniciar_Sesión">
                <h1>Iniciar Sesión</h1>
                <br>
            </div>
        </section>
        <section >
            <div class="ctatrs">
                <div class="cuentatrs">
                    <br>
                    <a class="cuentatrs" href="#"><p>Iniciar sesión con Facebook</p></a>
                    <br>
                </div>
                <div class="cuentatrs">
                    <br>
                    <a class="cuentatrs" href="#"><p>Iniciar sesión Google</p></a>
                    <br>
                </div>
            </div>
        </section>
        <br>
        <div class="separador">
            <section>
                <h3>O con tu email</h3>
            </section>
        </div>
        <form action="/registro" method="post" >
        <div Class="logueo">
            <div class="titulo">
                <h4>Email</h4>
                <div class="Password">
                    <input class="insert" name="email" type="email" placeholder="ingresa tu email" > 
                </div>
            </div>
            <div class="titulo">
                <h4>Contraseña</h4>
                <div class="Password">
                    <input class="insert" name="Pwd" type="Password" placeholder="ingresa tu password" > 
                </div>
            </div>
        </div>
        </form>        
        <div class="separador">
                <section>
                    <h3>O</h3>
                </section>
        </div>
        <div>
            <div>
                <h3>Creá tu cuenta</h3>
                <div class="registro">
                    <a class="rgtr" href="#"><h3>Registrate con tu email</h3></a>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</html>