<%- include('partials/head')  %> 
   <body class="login-page">
        <header>
            <div class="top-header-login">
                
                <h2 class="nombre-login">electromania</h2>
                <div class="logo-login">
                    <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
                </div>
           </div> 


        </header>

        <main>
            <section>
                <div class="Iniciar_Sesión">
                    <h1 class="login-page">Iniciar Sesión</h1>
                    <br>
                </div>
            </section>
            <section >
                <div class="ctatrs">
                    <div class="ctatrs2">
                        <div class="cuentatrs">                        
                            <a  href="#">Iniciar sesión con Facebook</a>                       
                        </div>
                    </div>
                    <div class="ctatrs2">
                        <div class="cuentatrs">                      
                            <a  href="#">Iniciar sesión con Google</a>                        
                        </div>
                    </div>    
                </div>
            </section>
            <br>
            <div class="separador">
                <section>
                    <h3 class="login-page">O con tu email</h3>
                </section>
            </div>
            <form action="/usuarios/login" method="post" >
            <div>
                <div Class="logueo">
                    <div class="titulo">
                        <h4 class="login-page">Email</h4>
                        <div class="Password">
                            <input class="insert" name="email" type="email" placeholder="ingresa tu email" > 
                    </div>
                </div>
                    <div class="titulo">
                        <h4 class="login-page">Contraseña</h4>
                        <div class="Password">
                            <input class="insert" name="Pwd" type="Password" placeholder="ingresa tu password" > 
                        </div>
                    </div>
                    <div class="boton-login">
                        <input class="boton-login" type="submit" class="submit" value="Iniciar">
                    </div>
            </div>
            <br>
            </form>        
            <!-- <div class="separador">
                    <section>
                        <h3 class="login-page">O</h3>
                    </section>
            </div> -->
            <div>
                <div class="login-page1">
                    <h3 class="login-page">O creá tu cuenta</h3>
                    <div class="registro">
                        <a class="rgtr" href="/usuarios/register"><h3>Registrate con tu email</h3></a>
                    </div>
                </div>
            </div>
            <br>
        </main>
        <%- include('partials/footer')  %> 
       
    </body>
</html>