<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromania</title>
    <link  rel="icon" type="image/png" href="/images/favicon.JPG"  />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d80f5cb230.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body class="register-page">
  <header>
    <div class="top-header-login">
        
        <h2 class="nombre-login">electromania</h2>
        <div class="logo-login">
            <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
        </div>
   </div> 

  </header>
    <div class="container">
        <div class="login-container">
          <div class="create-form">
              <form id="form" class="form-register" action="/productos/create" method="POST" enctype="multipart/form-data">
                <% if (locals.errors && errors.length > 0 ) { %>
                  <% errors.forEach(error=>{%><p> <%=error.msg%> </p><%})%> 
                  <% } %>
                  <ul class= "errores"></ul> 
                <h3 class="register-page">Nombre del producto</h3>
              <input class="insert-register" type="text" name="name" id="nombre"  placeholder="Nombre del producto"> 
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                    <%= errors.name.msg %> 
                </div>
            <% } %>
              <h3 class="register-page">Precio</h3>
              <input class="insert-register" type="text" name="price"  placeholder="Precio">
              <h3 class="register-page">Descuento</h3>
              <input class="insert-register" type="text" name="descuento"  placeholder="Descuento">
              <h3 class="register-page">Descripcion</h3>
              <div class="col-12"></div>
                <textarea name="description" id="description" class="form-input"></textarea>
                <% if (locals.errors && errors.description) { %>
                  <div class="text-danger">
                      <%= errors.description.msg %> 
                  </div>
              <% } %>
                <h3 class="register-page">Stock</h3>
                <input class="insert-register" type="text" name="stock"  placeholder="5 o 10">
                  <input class="file" type="file" name="image" id="imagen" accept=".png,.jpg,.gif" >
                  <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %> 
                    </div>
                <% } %>
                </div>
               <br>
              <div class="boton-register">
              <input class="boton-register" type="submit" class="submit" value="Crear producto">
              </div>
              <br> 
            </form>          
            <br>
           </div>
        </div>
    </div>   
    <script src = "/js/validacionesCreacionProducto.js"></script> 
</body>
</html>