<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon" type="image/png" href="/images/favicon.JPG"  />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="css/styles-lu.css"> 
    <link rel="stylesheet" href="/css/normalize.css"> 
    <title>Electromania</title>
    <script src="https://kit.fontawesome.com/7966d58261.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="top-header-login">
            
            <h2 class="nombre-login">electromania</h2>
            <div class="logo-login">
                <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
            </div>
       </div> 
    
      </header>
    <main>
        <h2 class="cart-title">Mi carrito</h2>
        <hr class="divider-line">
        <section>
            <div class="login-request">
                <p class="login-buy">Registrate o inicia sesión para acceder a beneficios y comprar más comodamente</p>
                <p class="login-buy-button">INGRESA</p>
            </div>
            <div class="main-product-container">
                <div class="product-summary">
                    <div class="cart-item-details">
                        <img src="/images/pc.jpg" class="product-cart">
                        <div class="product-details">
                            <h3 class="model">Notebook ASUS 17"</h3>
                            <div class="price-info">
                                <div class="buy-titles">Precio:</div>   
                                <p class="buy-details">$104.000</p>
                            </div>
                            <div class="quantity-info">
                                <div class="buy-titles">Cantidad:</div>   
                                <form action="" method="">
                                    <select name="quantity-product" id="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </form>
                            </div> 
                            <div class="price-info">
                                <div class="buy-titles">Subtotal:</div>   
                                <p class="buy-details">$104.000</p>
                            </div> 
                        </div>
                    </div>
                    <div class="cart-item-details">
                        <img src="/images/tablet2.webp" class="product-cart">
                        <div class="product-details">
                            <h3 class="model">Tablet Samsung 7""</h3>
                            <div class="price-info">
                                <div class="buy-titles">Precio:</div>   
                                <p class="buy-details">$45.000</p>
                            </div>
                            <div class="quantity-info">
                                <div class="buy-titles">Cantidad:</div>   
                                <form action="" method="">
                                    <select name="quantity-product" id="quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </form>
                            </div> 
                            <div class="price-info">
                                <div class="buy-titles">Subtotal:</div>   
                                <p class="buy-details">$45.000</p>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="product-summary2">
                    <div class="main-final-payment">
                        <p class="payment-titles">¿Desea extender garantia?</p>
                        <form action="" method="">
                            <input class="guarantee-choose" type="radio" name="guarantee" id="guarantee" value="Con Garantia">Si
                            <input class="guarantee-choose" type="radio" name="guarantee" id="guarantee" value="Sin Garantia">No
                        </form>
                    </div>
                    <div class="main-final-payment-total">
                        <p class="payment-titles">TOTAL</p>
                        <p class="buy-details important">$149.000</p>
                    </div>
                    <div class="payment-titles margins">¿Tenés un cupon?</div>
                    <p class="buy-coupon">Ingresa un cupon de descuento</p>
                    <div class="boton-comprar">
                        <input class="boton-comprar" type="submit" class="submit" value="Comprar">
                    </div>
                </div>
            </div>
            <div class="purchase-advantages">
                <div class="secure-purchase">
                    <div class="secure-icon"><i class="fas fa-lock"></i></div>
                    <p class="secure-info">Compra 100% segura</p>
                    <p class="secure-details">Tu informacion está protegida</p>
                </div>
                <div class="secure-purchase">
                    <div class="secure-icon"><i class="fas fa-truck"></i></div>
                    <p class="secure-info">Envio gratis</p>
                    <p class="secure-details">A todo el pais</p>
                </div>
                <div class="secure-purchase">
                    <div class="secure-icon"><i class="fas fa-exchange-alt"></i></div>
                    <p class="secure-info">Devolucion 30 dias</p>
                    <p class="secure-details">No te gusta, devolvelo gratis</p>
                </div>
            </div>
        </div> 

        

        </section>
    </main>
    <footer>
        <article>
            <div class="company-description-footer">
                <a href="/"><img class="footer-logo" src="/images/logo2.JPG" alt="logo-electro-mania" title="Electromania - Home"></a>
                <div class="footer-company-description">
                    <p> Somos la empresas numero 1 en Argentina en la venta y distribucion de productos electronicos. Tecnologia, electrodomesticos y articulos para el hogar. Todo en un solo lugar y con envio gratuito a todo el pais. </p>
                    </div>
                </div>
                <div class="group-social-icons">
                    <div class="social-icons">
                        <div class="circle-social-icons"><i class="fab fa-facebook"></i></div>     
                        <div class="circle-social-icons"><i class="fab fa-instagram"></i></div>
                        <div class="circle-social-icons"><i class="fab fa-linkedin-in"></i></div>
                        <div class="circle-social-icons"><i class="fab fa-youtube"></i></div>
                    </div>
                </div>
            </div>
            <hr>
        </article>
        <article>
            <div class="recommended-list-general">
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Tecnologia</h2>
                    <ul class="reccomended-list">
                        <li>Smart TV</li>
                        <li>Consolas de juego</li>
                        <li>Notebooks</li>
                        <li>Monitores</li>
                        <li>Equipos de audio</li>
                    </ul>
                </div>
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Electrodomesticos</h2>
                    <ul class="reccomended-list">
                        <li>Heladeras</li>
                        <li>Cocinas</li>
                        <li>Lavavajillas</li>
                        <li>Microondas</li>
                        <li>Cafeteras</li>
                        <li>Lavarropas</li>
                    </ul>
                </div>
                <div class="reccomended">
                <h2 class="footer-titles">Recomendados Articulos Hogar</h2>
                    <ul class="reccomended-list">
                        <li>Plancha</li>
                        <li>Aspiradoras</li>
                        <li>Maquinas de coser</li>
                        <li>Limpiadores a vapor</li>
                    </ul>
                </div>
            </div>
            <hr>
        </article>
        <article>
            <div class="newsletter-form">
                <h2 class="footer-titles">Recibi ofertas y promociones</h2>
                <form action="" method="">
                    <div class="cart-ofertas">
                        <div>
                            <label for="email">
                                <input class="newsletter-input" type="email" id="email" placeholder="Ingrese su email...">
                            </label>
                        </div>    
                        <div>
                            <button class="newsletter-button-send" type="submit" >Enviar</button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>
        </article>
        <article>
            <p class="copyright">Copyright © 2021 Electromania. El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Electromania. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock.
            </p>
        </article>
    </footer>
</body>
</html>