<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electromania</title>
    <link  rel="icon" type="image/png" href="/images/favicon.JPG"  />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d80f5cb230.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body class="register-page">
  <header>
    <div class="top-header-login">
        
        <h2 class="nombre-login">electromania</h2>
        <div class="logo-login">
            <a href="/"><img src="/images/favicon.JPG" class="logo"></a>
        </div>
   </div> 

  </header>
    <div class="container">
        <div class="login-container">
          <div class="register">
              <form class="form-register" action="/usuarios/register" method="POST">
                <h3 class="register-page">ID producto</h3>
                <input class="insert-register" type="text" name="nombre" required placeholder="ID producto">
                <h3 class="register-page">Nombre del producto</h3>
              <input class="insert-register" type="text" name="nombre" required placeholder="Nombre del producto"> 
              <h3 class="register-page">Precio</h3>
              <input class="insert-register" type="text" name="apellido" required placeholder="Precio">
              <h3 class="register-page">Descripcion</h3>
              <div class="col-12">
                <textarea name="description" id="description" class="form-input"></textarea>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="register-page">Categoria</h3>
                    <select name="category" id="category" class="form-input">
                        <option value="">Elegí</option>
                        <option value="in-sale">En oferta</option>
                        <option value="visited">Últimos agregados</option>
                    </select>
                </div> 
              <h3 class="register-page">Repetir contraseña</h3>
              <input class="insert-register" type="password" name="Confirma contraseña" required placeholder="Repetí tu contraseña">
              <br>
              <br>
              <div class="boton-register">
              <input class="boton-register" type="submit" class="submit" value="Crear producto">
              </div>
              <br> 
            </form>          
            <br>
           </div>
        </div>
    </div>   
</body>
</html>