*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
h1{
    font-size: 24px;
    text-align: left;
    font-weight:bold;
    margin: 25px;
}
h3{
    font-size: 24px;
    text-align: center;
}
h4{
    font-weight:bold;
    text-align: left;
    width: 100%;
    padding: 5px;
    margin: 15px;
}
p{
    font-size:3ch;
    vertical-align: middle;
}
.titulo{
    color: black;
    background-color: white;
    padding: 5px;
    margin: 15px;
}
.Password{
    color: darkgrey;
    background-color: lightgrey;
    border: 2px solid darkgrey;
    padding: 5px;
    margin: 15px;
}

.ctatrs{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    height: 30%;
}
.cuentatrs{
    color: white;
    background-color: darkgrey;
    text-align: center;
    border: 1px solid darkgrey;
    padding: 5px;
    width: 45%;
    margin: 2px;
    font-weight: 600;
    text-decoration: none;
}
.separador{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 15px;
    margin: 15px;
    border-style: border-box;
}
.registro{
    color: darkgrey;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
}
.rgtr{
    color: darkgrey;
    background-color: white;
    text-decoration: none;
}
.insert{
    width: 100%;
    margin: 5px;
    background-color: lightgrey ;
    border: 1px solid lightgrey;
    align-content: center;
    font-weight: 400;
}
/*
@media only screen and (min-width: 320px) {
    .ctatrs{
        flex-direction:column ;
        align-content:center;
        padding: 2px;
        margin: 2px;
        height: 60%;
    },
}

@media only screen and (min-width: 481px) {
    .ctatrs{
        flex-direction: column;
        justify-content:space-around;
        height: 55%;
    }
}*/
