*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body{
    height: 100vh;
    background-color: #ECEAEB ;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ECEAEB ;

}


hr{
    margin: 0;
}

p{
    font-size: 12px;
}

h2.nombre{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #001772;
    font-weight: initial;
}


header.main-header{
    display: flex; 
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #87ceeb;
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
  
   
}

div.top-header{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    justify-content: space-between;

}


h1{
    width: 100%;
    margin: 0 auto;
}


header div.logo,
header .form{
    
    justify-content: center;
}
header .form {
    display: flex;
    align-items: center;
   font-size: 12px;
   margin-right: 5PX;
   margin-bottom: 29px;
   margin-top: 45px;
   margin-left: 70px;
    
    
   
}

header .form .input{
  
    outline: none;
    color: #666;
    
    border-radius: 5px;
}

.search-form_input{
    font-size: 15px;
    height: 28px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

p.buscar{
    padding: 5px;
}

div.buscar{
    margin-left: 5px;
}

input.boton{
    border-radius: 15px;
    padding: 5px;
    font-size: 70%;
}

div.buscar input.boton :hover{
    background-color: green;
    color: hotpink;
}


div.hamburger-buttom{
    text-align: center;
    margin-top: 50px;
    margin-right: 8px;
}

div.hamburger-buttom i{
   
    color:rgb(255, 255, 255) ;
   
    font-size: 20px;
    width: 40px;
    
}



.sesion{
    margin-top: 15px;
    margin-right: 10px;
    padding: 0 ;
    display: none;
}



.logo{
    width: 40px;
    margin: 0;
    animation: aumentar 1000ms linear 1 alternate;
    display: flex;
    display: none;
   }
   
 

@keyframes aumentar{
    0% {transform: scale(1);
    }
    100% {transform: scale(1.1);
    }
}

.divnavbar{
   
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    align-content: center;
   
    }

.main-navbar{
  
    padding: 3px;
    margin: 3px ;
    text-align: center;
    display: flex;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
    align-content: center;
    display: none;
}



.categoriasli {
    width: 100%;

    padding: 10px;
    margin: 2px;
    font-size: 15px;
    justify-content: space-between;
    flex-direction: row;
    align-content: center ;
    align-items: center;
    text-align: center;
    flex: 1;
    border-radius: 5px 5px 5px 5px;
    border:dashed  solid black;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    background-color: #f2f2f2;
    
    
}

.categoriasli a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222222  ;
    font-size: 17px; 
      
    
}
 




.titulo1{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color:#808080;
}



main section article{
    background-color: #fff;    
    margin: 10px 20px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}


main section article i,
.descuentos{
    color: #39b54a;
    
}


main section article img{
    width: 100%;
}


main section article i,
.descuentos{
    color: #39b54a;
}




.productos{
    padding: 0 15px;
    margin: 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}

.productos2{
    padding: 0px 0px 5px 0;
    margin: 10px 0px 5px 0;
  
}

.descripcion1 , .descripcion2{
    font-size: 15px;
    margin: 5px auto;
    text-align: center;
    font-weight:bolder;
}
.descripcion3 {
    font-size: 18px;
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    color: #412297;
    animation: descripcion3 1000ms linear 4 alternate;
    
    
}


.baner{
    width: 100vw;
    margin: 0 ; 
    margin-top: 20px;   
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  
}

@keyframes descripcion3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.6);
    }
}

main section div.products article{
    width: 95%;
    margin: 10px auto;
}

header div.header-hiding{
    justify-content: space-between;
    background-color:#ECEAEB;
  
        align-items: center;
        align-content: center;
  
    width: 100%;
}

    header{
        margin: 0 auto;
    }

    header div.header-hiding, 
              .hiding,
              .social{
        display: none;
        flex-direction: row;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-content: center;
       
        
    }
    /* header div.header-hiding, .social{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-content: center;
     
    } */

    div.hiding{
        margin-left: 10PX;
    }

    div.hiding,
    .social{
        width: 50%;
    }

    div.hiding p{
        font-size: 10px;
    }

    
    div.social img{
     width: 30px;
    }

    div.social{
        justify-content:space-around;
        margin-left: 117px;
    }

     article a{
        text-decoration: none;
        color: #000000;
    }


    

    /*aqui comienza el FOOTER*/

    footer{
        background-color: #87ceeb;
        padding: 15px 0;
    }
    
    .footer-logo{
         max-width: 40%;
         margin: auto;
         display: block;
         width: 100%;
    }
    
    .footer-company-description{
        margin: auto;
        text-align: center;
        padding: 10px 30px;
    }
    
    .group-social-icons{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
        
    .circle-social-icons{
        background-color: blue;
        color: white;
        margin: auto;
        margin-left: 10px;
        max-width: 50px;
        padding: 10px 10px;
        border-radius: 50%;
        display: inline;
    
    }
    
    .footer-titles{
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .reccomended-list{
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        font-size: 0.8rem;
    }
    
    .newsletter-input{
        margin: 5px auto;
        max-width: 90%;
        border-radius: 10px;
        padding: 5px;
        border-color: lightgray;
        display: block;
    }
    
    .newsletter-button-send{
        background-color: blue;
        padding: 10px;
        color: white;
        margin: auto;
        display: block;
        margin-top: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    
    }
    
    .copyright{
        color: gray;
        font-size: 0.8em;
        padding: 0 30px;
        text-align: center;
    }

    div.logoFooter{
        text-align: center;
        margin: auto 48px;
    }
 
 
    div.logoFooter img{
      width: 100%;
     margin: 0 auto;
 }

 /*aqui estan los estilos de la pagina de todos los productos*/
 div.contenedor-productos{
     width: 100%;
     margin: 0 auto;
 }

 main.producto{
     width: 100%;
 }

 section.ofertas-productos{
    width: 90%;
    margin: 30px;
 }

 
div.pre-main{
    justify-content: space-between;
    display: flex;
    margin-left: 34px;
    margin-top: 30px;
    margin-right: 40px;
    padding: 15px 30px;
    align-items: center;
    align-content: center;
}
div h2.titulo-productos{

    font-size: 20px;
    
}
div.titulo-productos h2{

    margin: 10px;
}

a.button-edit{

    font-size: 22px;
    background-color: #001772;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

i.fas{
    font-size : 23px    ;
}


 /* aqui comienza Login Page*/


 body.login-page{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
}
h1.login-page{
    font-size: 24px;
    text-align: left;
    font-weight:bold;
    margin: 11px;
    color: #808080;
}
h3.login-page{
    font-size: 24px;
    text-align: center;
    color: #808080;
}
h4.login-page{
    font-weight:bold;
    text-align: left;
        margin: 15px;
}
p.login-page{
    font-size:1rem;
    vertical-align: middle;
}
.titulo{
    color: black;
    background-color: white;
    
    margin: auto auto;
}
.Password{
    color: darkgrey;
    background-color: lightgrey;
    border: 2px solid darkgrey;
    padding: 5px;
    margin: 15px;
}

.ctatrs{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    
      
   
}

   .ctatrs2:hover  {
           box-shadow: 0px 0px 20px rgb(100, 100, 100);
    }

   div.registro:hover  h3{
       color: #000000;
   }

    .login-page1{
        background-color: #ffffff;
    }

    .ctatrs2{
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        font-size: 13px;
        background-color: #87ceeb;
        padding: 13px;
        width: 45%;
        margin: 2px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 15px;
    }
.cuentatrs a{
    color: #001772;
    display: inline-block;    
    text-align: center;
    text-decoration: none;
  
    
}
.separador{
    text-align: center;
     padding: 15px;

    border-style: border-box;
}
.registro{
    color: darkgrey;
    background-color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 0.7rem;
}
.rgtr{
    color: darkgrey;
    background-color: white;
    text-decoration: none;
}
.insert{
    width: 100%;
    margin: 5px;
    background-color: lightgrey ;
    border: 1px solid lightgrey;
    align-content: center;
    font-weight: 400;
}


header div.logo-login{
    margin-left: 60px;
    margin-bottom: 15px;
}

div.top-header-login{
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #87ceeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


    .nombre-login{
        margin: 10px;
        color: #001772;
        font-weight: 400;
    }
 input.boton-login{
     
     background-color: #001772;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
 }

 div.boton-login{
     text-align: center;
 }

/*aqui comienza User Profile*/

div.row{
    width: 50%;
    margin: 20px;
}

div.row img{
    width: 50%;
}

div.alert {
    font-weight: bold;
}


 /* aqui conmienza el registro de usuario/*/


.text-danger{
    font-size: 15px;
    margin-left: 10px;
    color: #ff0000;
}

.form-check{
    margin: 10px;
    text-align: center;
    font-weight: bold;
}
.form-check-input{
    margin: 5px;
}

div.register{
    background-color: #FFF;
}

body.register-page{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
}

body.edit-page{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    height: 700px;
}

h1.register-page{
    font-size: 24px;
    text-align: left;
    font-weight:bold;
    margin: 11px;
    color: #808080;
}
h3.register-page{
    font-size: 15px;
    text-align: center;
    color: #808080;
}
h4.register-page{
    font-weight:bold;
    text-align: left;
    width: 100%;
    padding: 5px;
    margin: 15px;
}
p.register-page{
    font-size:1rem;
    vertical-align: middle;
}
.insert-register{
    width: 100%;
    margin: 10px;
    background-color: lightgrey ;
    border: 1px solid lightgrey;
    align-content: center;
    font-weight: 400;
    padding: 5px;
    font-size: 12px;
}

.form-register{
    width: 70%;
    margin: 0 auto;
}

a.ingresa{
    text-decoration: none;
}

input.boton-register{
    margin-left: 5px;
    background-color: #001772;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

div.boton-register{
    text-align: center;
}
form.search-form{
    display: flex;
}

   /* aqui conmienza creacion de producto*/
input.file{
    margin: 10px auto;
}

   textarea{
       width: 100%;
   }

   select.form-create{
       width: 100%;
       background-color: lightgrey;
   }

   .create-form{
       margin-top: 20px;
   }

    /* aqui conmienza el detalle del producto*/

body.producto{
    width: 100%;
}

div.main-article-images{
    margin:0 auto;
    padding: 5PX;
}

section.Producto{
    display: none;
}

section.main-producto{
    margin-top: 15px;
}

h2.producto{
    font-weight: 500;
}

div.ofertas-pro{
    margin: 15px;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
}

div.ofertas-pro h3{
    margin: 12px;
}



/* .main-producto{
    display: flex;
    flex-direction: row;    
    background-color: #ECEAEB ;
    justify-content:stretch;
    margin-top: 15px;
    flex-wrap: wrap;
} */

.main-article{
    height:100%;
    width:100%;
    
    flex-basis:auto;
    align-items:auto;
    justify-content:stretch;
}
.main-article-images img{
    width: 100%;
    border-radius: 15px ;
    padding: 10px;
  
    
}
.main-article-description{
    order:1;
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
}
.main-producto-spects{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: stretch;
    margin: 10px;
}
.main-article-spects{
    text-align: center;
    order: 0;
    flex-grow: 1;
    flex-shrink: 3;
    height: 100%;
    width: 100%;
    
    flex-basis: auto;
    align-items: auto;
    justify-content: stretch;
}
.description{
    order: 0;
    flex-basis:auto;
    height:30%;
 }
.descripcion4{
    text-decoration: black line-through;    
    font-size: 15px;
    margin: 5px auto;
    text-align: center;
    font-weight:bolder;
}
.payment h3{
    font-weight: 500;
}



div.fab{
    color: #0000ff;
    font-size: 40px;
}
.payment{
  
    border-color: 1px black;
    flex-shrink: 3;
    flex-basis:auto;
    height:60%;
    text-align: center;
}

div.ofertas-tc{
    display: inline-flex;
    width: 100%;
    justify-content: center;

}

.paymentbtn{
    text-align: center;
    padding: 10px;
    background-color: #ECEAEB;

}

div.paybt{
    background-color: #0000ff;
    padding: 10px;
    border-radius:5px; 
    
}
div.edit-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
}

div.edit-b{
    background-color: #0000ff;
    padding: 10px;
    border-radius:5px; 

    text-decoration: none;
      
}
div.edit-b a{
    color: #fff;
    text-decoration: none;
}

div.delete-b{
    border-radius:2px;
    background-color: #ff7b00;
    padding: 10px;
    border-radius:5px; 
    
  
}


div.pantalla,
 .dimensiones{
    text-align: initial;
    margin: 20px;
    font-size: 15px;
}

div.pantalla h4,
 .dimensiones h4{
     font-weight: 500;
     padding:6px;
     
 }

.paymentbtn a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    
}

.btnComprar{
    border-radius: 10px 10px 10px 10px ;
    width: 100%;
}

/*aqui comienza el carrito de compras*/

    a.usario-login{
        text-decoration: none;
    }

 body.cart-page{
     background-color: #FFF;
     width: 95%;
     margin: 0 auto;
 }

.cart-title{
    text-align: center;
    margin: 10px;
}

.login-request{
    border-radius: 10px;
    border-color: grey;
    margin: 10px;
    border-style: solid;
    padding: 15px;
    border-width: 1px;
}

.login-buy{
    text-align: center;
}

.login-buy-button{
    text-align: center;
    color: blue;
    font-weight: bold;

}

.product-summary{
    border-radius: 10px;
    border-color: grey;
    margin: 10px;
    border-style: solid;
    padding-bottom: 5px;
    border-width: 1px;
    padding: 10px;
   
}



.product-summary2{
    border-radius: 10px;
    border-color: grey;
    margin: 10px;
    border-style: solid;
    padding-bottom: 5px;
    border-width: 1px;
    padding: 10px;
    
}

.product-details{
    font-size: 15px;
}

.cart-item-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-cart{
    max-width: 30%;
    margin: 2px;
}

.model{
    color: blue;
    font: 15px;
}

.buy-titles{
    font-weight: bold;
}

.buy-details{
    font-size: 0.8em;
}

.price-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-final-payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.guarantee-choose{
    padding: 0 5px;
    margin: 0 5px;
}

.payment-titles{
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    
}

.margins{
    margin-top: 10px;
}

.buy-coupon{
    color: lightgray;
    font-size: 15px;
    margin-left: 10px;
}

.important{
    font-weight: bold;
    font-size: 20px;
}

.main-final-payment-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 0 15px;
    border-radius: 10px;
}

.secure-icon{
    text-align: center;
    border-radius: 50%;
    background-color: blue;
    color: white;
    padding: 10px;
    max-width: 40px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

.secure-info{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;

}

.secure-details{
    font-size: 0.8em;
    color: grey;
    text-align: center;
    margin-top: 2px;

}

input.boton-comprar{
    margin-left: 5px;
    background-color: #001772;
    border: none;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    height: 60px;
}
div.boton-comprar{
    text-align: center;
  
}


.purchase-advantages{
    display: block;
    background-color: lightgray;
    border-radius: 20px;
    padding: 15px 0;
    margin: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.secure-purchase{
    margin: 0 15px;
    box-sizing: border-box;
    
}

div.cart-ofertas{
    display: block;
}


main.cart-page{
    background-color: #FFF;
}

p.precio{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}




@media (min-width: 361px){

    main.index{
        display: flex;
        flex-wrap: wrap;
    }

    main section article{
        box-shadow: 0px 0px 20px rgb(100, 100, 100);
    }

    /* main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    } */

    

      
    /* main section div.products article{
        width: 45%;
        margin: 10px auto;
    } */

    .precios,
    .descuentos{
        width: 50%;
        font-size: 0.9rem;
    }

   
    header .form {

        margin-left: auto;
        margin-right: auto;
       
    }


    header .copy-header p{
        font-size: 12px;
    }



}


@media (min-width: 500px){

    .logo{
        display:block ;
     }
     div.hamburger-buttom i{
        margin-left: 43px;
        margin-right: 33px;
     
        }


        .divnavbar{
            margin-top: 85px;
        }
        header div.logo, header.form{
            margin-left: 43px;
            margin-top: 35px;
        }

        .titulo{
            color: black;
            background-color: white;
            
            
        }
        main.index{
            display: flex;
            width: 70%;
            margin: 0 auto;
            
        }
        main.index section div.products article{
            width: 45%;
            margin: 10px auto;
         

    }
}





@media (min-width: 768px){

    
    main section div.products article{
        width: 26%;
    }
    .main-navbar{
        display: flex;
    }
    
    main section article{
        margin: 10px 0px;
        height: 100%;
    }

        .hamburger-buttom{
            display:none ;
        }


    .sesion{
        display: flex;
        
        text-align: right;
        justify-content: flex-end;
}

    div.social a{
        margin: 8px; 
    }

    div.social{
        justify-content:flex-end;
        margin-left: 175px;
        font-size: 30px;
        margin-right: 15px;
    }

    .sesiona{
        
        
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
        color:#001772 ;
        margin: 0px 5px;
        justify-content: center;
        align-content: center;
        text-align: right;
        align-items: center;

        
    }

        div.car{
            font-size: 20px ;
            margin-right: 5px;
            color: #001772;
            font-weight: lighter;
        }

    .sesion{
        align-items: center;
    }

    .divnavbar{
        margin-top: 160px;
    }

    header .form{
        font-size: 19px;
    }

    header div.header-hiding, 
              .hiding,
              .social{
        display: flex;

              }
    h2.nombre{
        top: 60px;
        
    }

    div.hiding p{
        font-size: 12px;
    }

    main.producto{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    section.ofertas-productos{
        width: 25%;
        transition: 300ms;
    }
    section.ofertas{
        width: 15%;
        margin: 25px 5px;
    }
    main.index{
        width: 95%;
        justify-content: space-between;
    }
    section.ofertas-productosDetail{
        display: flex;
       width: 90%;
       margin: 30px;
       flex-wrap: wrap;
       justify-content: space-around;
    }
/*aqui comienza el login*/
    .titulo {
        margin: auto 100px;
    }

/*aqui comienza el register*/

    h3.register-page{
        font-size: 20px;
    }
    /*aqui comienza el FOOTER*/

    .company-description-footer{
        display: flex;
        /* align-items: center; */
        justify-content: space-around;
        padding: 0px 20px;
    }

    .footer-logo{
        max-width: 100%;
        margin-left: 20px ;
            width: 100%;
   }

   .footer-company-description{
       max-width: 30%;
       text-align: right;
       margin-right: 20px;
       padding: 0 0px;

   }

   .footer-company-description p{
    text-align: justify;
   }

   .group-social-icons{
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    margin-top: 20px;
}
    

    .recommended-list-general{
        display: flex;
        align-items: start;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .reccomended{
        width: 40%;
    }

    .newsletter-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-titles{
        padding-right: 20px;
    }
    .ctatrs2{
        font-size: 15px;
    }


    /*aqui comienza el descripcion del producto*/

    section.main-producto{
        display: flex;
        width: 90%;
        margin: 0 auto;

    }

    section.main-producto-spects{
        width: 88%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    div.main-article-spects h3{
        font-size: 2rem;
    }

    div.pantalla,
    .dimensiones{
        font-size: 1.5rem;
    }
    h3.dimensiones, 
    h3.pantalla{
        margin: 10px;
        text-align: center;
    }
    section div.main-article{
        width: 50%;

    }

    .description{
margin-top: 17px;
    }
    
    .description p{
        text-align: center;
        font-size: 25px;
    }

    .description h4{
        font-size: 24px;
        text-align: left;
        animation: none;
    }

    div.payment a{
        text-decoration: none;
        color: rgb(0, 106, 253);
    }
    section.Producto{
        display: block;
    }


/* aqui commienza el carrito de compras*/

    .purchase-advantages{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .product-summary2{
        padding: 30px 40px;
        width: 50%;
    }


    .login-buy{
        text-align: left;
        margin-left: 20px;
    }

    .login-buy-button{
        text-align: left;
        margin-left: 20px;
        padding-top: 5px;
    }

    .buy-button-tablet-desktop{
        background-color: #001772;
        padding: 5px 0;
        text-align: center;
        color: white;
        font-weight: bold;
        margin: 15px 0;
        border-radius: 10px;
    }

    .buy-coupon{
        margin: 20px 0px 35px 10px;
    }

    .buy-button{
        display: none;
    }

    .secure-purchase{
        display: block;
        margin: 0 30px;
    }

    .product-summary{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
  


    .main-product-container{
        display: flex;
        justify-content: space-between;
        
        
    }

    .login-request{
        max-width: 100%;
    }
    .company-description-footer{
        display: flex;
        /* align-items: center; */
        justify-content: space-around;
        padding: 0px 20px;
    }

    .footer-logo{
        
        margin-left: 20px ;
        width: 100%;
    }

    .footer-company-description{
    max-width: 30%;
    text-align:justify;
    margin-right: 0px;
    padding: 0 0px;
    }

    .group-social-icons{
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    }

    .recommended-list-general{
        display: flex;
        align-items: start;
        justify-content: space-around;
    }

    .reccomended{
        width: 40%;
    }

    .newsletter-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-titles{
        padding-right: 20px;
    }
    div.cart-ofertas{
        display: flex;
        margin-top: 15px;
    }

    .newsletter-button-send{
        margin-top: 0;
        margin-left: 10px;
    }

    div.contenedor-productos{
        max-width: 768px
    }

}

@media (min-width: 1000px){

    header.form{
        margin-left: 20px;
        margin-right: 20px;
    }   


    main section div.products article{
        width: 14%;
    }

    header .form{
        font-size: 22px;
    }

    .sesiona{
       font-size: 19px;
    }

    h2.nombre{
         font-size: 30px;
}
    div.social a{
       margin: 8px; 
    }

    div.social{
        justify-content:flex-end;
        margin-left: 250px;
        font-size: 30px;
        margin-right: 15px;
    }

    div.hiding p{
        font-size: 16px;
    }

    header div.logo, header.form{
       
        margin-top: 45px;
        margin-left: 65px;

    }
        .ctatrs2{
            font-size: 18px;
        }
        div.car{
            font-size: 25px ;
          
        }

/*aqui comienza el login*/
.titulo {
    margin: auto 200px;
}

/* aqui comienza el FOOTER*/

    .company-description-footer{
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 15px auto ;
    }

    .group-social-icons{
        max-width: 1200px;
        display: flex;
        /* justify-content: flex-start; */
        margin: 15px auto;
        

    }

    .footer-logo{
       
        margin-left: 20px ;
        width: 100%;
    }

    .copyright{
    max-width: 1200px;
    display: block;
    margin: auto;
    }


    /*aqui va el carrito de compras*/

    .company-description-footer{
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

 
    .footer-logo{
       margin-top: 15px;
        margin-left: 20px ;
        width: 100%;
   }

   .copyright{
       max-width: 1200px;
       display: block;
       margin: auto;
   }
 

}


@media (min-width: 1300px){

    div.social{
        
        margin-left: 576px;
        
    }
    div.contenedor-productos{
        max-width: 1200px
    }
    .search-form_input{
        width: 378px;     }

     header.form{
         margin-left: 20px;
         margin-right: 20px;
     }   
}